@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --backdrop-color: #212121
}

.testborder {
    border: 1px solid red;
}

.btn-override-subtitle {
    cursor: default !important;
    /* font-size: 1.4rem !important; */
}


body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

.p-toast {
    opacity: 1 !important;
    z-index: 99999;
}

.symmetric-grid-card .p-card-body {
    height: 100%;
}


.symmetric-grid-card .p-card-body .p-card-content {
    height: 100%;
}


.raise-md-hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.raise-md-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.socialButton {
    padding: 0.4rem !important;
}


.password-full input {
    width: 100%
}


.drawer-container {
    width: fit-content !important;
}


.autocomplete-grid {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 1rem;
}


.autocomplete-grid input {
    width: 100%;
}

